<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10-K Filing Financial Report Analysis</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="sidebar">
        <h2></h2><br><br>
        <ul>
            <li><a href="/introduction/">Introduction</a></li>
            <li><a href="/analysis/">Analysis</a></li>
        </ul>
    </div>
    <div class="content">
        <h2 class="home_page_h">Welcome to the Financial Report Analysis System</h2>
        <p class="home_page_p">Please select from the sidebar on the left to start using the system</p>
    </div>
</body>
</html>
